IBKR_FLEX_TOKEN=
IBKR_FLEX_QUERY_ID=
CLIENT_ORIGIN=http://localhost:5173
PORT=8787
HOST=127.0.0.1
IBKR_FLEX_REQUEST_TIMEOUT_MS=30000
IBKR_FLEX_REQUEST_ATTEMPTS=3
IBKR_FLEX_POLL_ATTEMPTS=30
IBKR_FLEX_POLL_MS=10000
IBKR_FLEX_INITIAL_WAIT_MS=20000